* {
  font-family: Helvetica;
}

div {
  text-align: center;
}

body {
  padding: .5rem;
  margin: 2rem;
}

.ui.middle.aligned.grid {
  margin: 3.5rem;
}

.gif {
  margin-bottom: 4.5rem;
}

.gif img {
  height: 23rem;
  margin-bottom: .5rem;
}

#copy-url-bar {
  width: 17rem;
}

#header-image {
  width: 16rem
}

#search-input {
  width: 21rem
}

#search-wrapper {
  padding-right: 5.8rem;
  margin-bottom: 6rem;
}

#clear-search-button {
  position: absolute;
  top: .7rem;
  left: 28rem;
}

#show-more-gifs-button {
  margin-bottom: 4rem
}